

#mainheader {
	text-align: center;
	background-image: url("../images/newspapersLarge.png");
	background-repeat:repeat-x;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

input {
	margin-bottom: 10px;
}

#searchparameters, #toparticles {
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 25px;
	background-image: url("../images/newspapersBG.png");
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#articlesPar {
	margin-top: 20px;

}

.newarticles {
	background-color: ghostwhite;
}

.newH1 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	background-color: lightgrey;
	padding: 4px;
}

#searchBtn {
	background-color: lightgrey;
}

a {
	color: darkgray;
	text-decoration-style: wavy;
}
